<script type=text/javascript>
    $( document ).ready( function() {
        // Set up the initial text:
        $( '.change-text' ).html( textHtmlArray[0] );
        $( '.tech-list' ).html( techList[0] );
        setInterval( swapText, 2000, '.change-text', textHtmlArray );
        setInterval( swapText, 2500, '.tech-list', techList );
    });
    const textHtmlArray = [
        "<span class='uk-text-danger'>tech geek.</span>",
        "<span class='uk-text-success'>pet parent.</span>",
        "<span class='uk-text-primary'>music buff.</span>",
        "<span class='uk-text-warning'>horror movie enthusiast.</span>",
        "<span class='uk-text-muted'>Seahawks fan.</span>"
    ];

    const techList = [
        "<span class='uk-text-danger'>Rails.</span>",
        "<span class='uk-text-success'>React ( Next.JS, Remix ).</span>",
        "<span class='uk-text-primary'>Android</span>",
        "<span class='uk-text-warning'>React Native</span>",
        "<span class='uk-text-muted'>Sinatra</span>",
        "<span class='uk-text-muted'>Jenkins</span>",
        "<span class='uk-text-muted'>Docker</span>",
        "<span class='uk-text-muted'>PostgreSQL</span>",
        "<span class='uk-text-muted'>MongoDB</span>",
        "<span class='uk-text-muted'>Redis</span>",
        "<span class='uk-text-muted'>SQLite</span>",
        "<span class='uk-text-muted'>AWS</span>",
        "<span class='uk-text-danger'>Ruby.</span>",
        "<span class='uk-text-success'>JavaScript (EcmaScript/TypeScript).</span>",
        "<span class='uk-text-primary'>Kotlin.</span>",
        "<span class='uk-text-warning'>Python.</span>"
    ];

    let index = 1;
    function swapText( htmlClass, htmlArr ) {
        $( htmlClass ).fadeOut( 500, function() { // Fade out current text
            $( this ).html( htmlArr[ index ] ).fadeIn( 500 ); // Fade in new text
            index += 1; // Update the index
            if ( index === textHtmlArray.length ) {
                index = 0;
            }
        } );
    }
</script>
<div id="about_me" uk-parallax="x: -100%, 0; end: 110%; media: @l">
  <div class="uk-width-expand uk-flex-column">
    <h3 class="uk-heading-small uk-text-bold">
      I'm a <span class="change-text"></span>
    </h3>
    <div class="uk-light uk-position-relative uk-visible-toggle uk-width-3-5 uk-margin-auto uk-visible@l" tabindex="-1" uk-slideshow="autoplay: false; autoplay-interval: 4000;">
      <div class="uk-slideshow-items">
        <div uk-slideshow-item="0">
          <img src="<%= image_url 'nikhil_restaurant.jpeg' %>" alt="Me at a restaurant" class="uk-object-scale-down" uk-cover>
        </div>
        <div uk-slideshow-item="1">
          <img src="<%= image_url 'zuko.jpeg' %>" alt="My dog" class="uk-object-scale-down" uk-cover>
        </div>
        <div uk-slideshow-item="2">
          <img src="<%= image_url 'hereditary.jpg' %>" alt="My favorite movie" class="uk-object-scale-down" uk-cover>
        </div>
      </div>
      <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
    <div>
      <p class="roboto-light">
        My name is <span class="uk-text-success">Nikhil Dronamraju</span>.
        From a technical standpoint, I'm a dev with over 2 years of experience working with the tech shown
        below. My journey started off at Texas A&M University, where I was an industrial engineering major for 3 years. I ended up
        realizing that programming and building things was something I genuinely enjoyed doing, and eventually landed my first job as a dev.
        Since then, I've thrown myself into learning and building products!
        <br>
        <br>
        From a more personal standpoint, I'm a big reader. These days, some of my favorite reads have been
        <span class="uk-text-danger">Fight Club, Atomic Habits</span> and <span class="uk-text-danger">Man's Search for Meaning</span>.
        <br>
        <br>
        <a href="https://www.youtube.com/@landonstrong9161" target="_blank">I also make music!</a>
      </p>
    </div>
  </div>
</div>
<hr class="uk-divider-icon">
