<div>
  <article class="uk-article">
    <h2 class="uk-article-title">ParlayMonkey</h2>
    <p class="uk-article-meta">Mar 2023 - Present</p>
    <p class="uk-text-lead">
      ParlayMonkey is a passion project between myself and four of my close friends. It's an online sports betting platform
      with a custom admin portal, PayPal payment integration, and real-time updating of odds. I'm mainly responsible
      for development and maintenance of the app, while other team members handle design and gather the data we use to create
      lines.
    </p>
    <div>
      <span>Tech Used:</span>
      <span>
        T3 Stack (TailwindCSS, Next.JS, tRPC), Supabase, TypeScript, Jest, Cypress, PayPal API
      </span>
    </div>
    <div>
      <a href="https://www.lockspread.com/" target="_blank">Check out the project!</a>
    </div>
  </article>
  <article class="uk-article">
    <h2 class="uk-article-title">Pokemon: Auto Chess</h2>
    <p class="uk-article-meta">Nov 2024 - Present</p>
    <p class="uk-text-lead">
      Pokemon Auto Chess is a fan-made multiplayer game combining elements from Auto Battler games (Like TFT, for example) with
      the graphics and vibe of the Pokemon Mystery Dungeon series. The game has 6k+ players a day, and is run entirely by
      volunteers.
    </p>
    <div>
      Tech used: TypeScript, Colyseus, MongoDB, Firebase, Grafana, Cloudflare, DigitalOcean, Redis, Solarwinds
    </div>
    <div>
      <a href="https://pokemon-auto-chess.com/" target="_blank">Check out the project!</a>
      <br>
      <a href="https://github.com/keldaanCommunity/pokemonAutoChess" target="_blank">Check out the repo!</a>
      <br>
      <a href="https://cdn.discordapp.com/attachments/1268146688313266288/1283359991574827089/pac.drawio.png?ex=676a8021&is=67692ea1&hm=65cb5255e26a3131caa4d23bb61903ddc794e4a06a863efc0d18b939cad391bb&" target="_blank">
        Architecture
      </a>
    </div>
  </article>
  <article class="uk-article">
    <h1 class="uk-article-title"><a class="uk-link-reset" href="">Glucose Monitor</a></h1>
    <p class="uk-article-meta">Aug 2024 - Current</p>
    <p class="uk-text-lead">
      The Glucose Monitor is an app that alerts users if their glucose levels are unstable. Users can input their glucose values
      when fasting or after eating. Depending on these inputs, it will calculate a score for users, and notify them based on that.
    </p>
    <div>
      Tech used: Kotlin, Room, SQLite
    </div>
    <div class="uk-grid-small uk-child-width-auto" uk-grid>
      <a href="https://github.com/nikhil-dronamraju/glucose" target="_blank">Check out the repo!</a>
    </div>

  </article>
</div>
