<div id="work_exp">
  <h2 class="uk-heading-small roboto-bold">Here's a little <span class="roboto-bold uk-text-warning">more info</span>:</h2>
  <ul uk-accordion id="about_me">
    <li>
      <a class="uk-accordion-title uk-heading-small" href>Work Experience:</a>
      <div class="uk-accordion-content">
        <div class="uk-width-expand uk-flex-column">
          <article class="uk-article">
            <h2><a class="uk-text-emphasis" href="https://www.boddlelearning.com/" target=_blank>Boddle Learning</a></h2>
            <p class="uk-article-meta">Ruby on Rails Engineer | Jan, 2023 - Current | Tulsa, OK </p>
            <div class="uk-text-regular">
              <p>Google/Apple-funded EdTech startup that provides a cross-platform (mobile and web) game designed to help K-6 students practice math and English. The platform provides personalized learning to support over 7 million students, growing from 2.5 million since 2023.</p>
              <ul>
                <li>
                  <strong>Tech used: Ruby on Rails, jQuery, Bootstrap, AWS (S3, CloudFront, CloudFormation, RDS), RabbitMQ, Redis, New Relic, Twilio SendGrid, Twilio 2FA, PostgreSQL, Playwright</strong>
                </li>
                <li>
                  Contributed to Boddle's Learning Management System (LMS) Team: Worked on a web application allowing teachers to view and modify students' educational data, and collaborated on the development of the in-house CRM and a WebGL-based game.
                </li>
                <li>
                  Built a teacher-driven content creation system: Enabled teachers to create multimedia-rich questions (text, images, videos) for students to answer in all game environments. Integrated real-time AI-based screening to prevent users from submitting inappropriate questions.
                </li>
                <li>
                  Led the development of a new in-game payment infrastructure: Integrated platform with Stripe for secure transaction processing across all 7M+ users. Designed and built a custom API to manage checkout sessions, product IDs, dynamic pricing, discounts, and purchase locations, ensuring better data for the company's growth team and compliance with U.S. tax regulations.
                </li>
                <li>
                  Optimized system performance: Monitored system performance and bug resolution using New Relic, reducing query counts on several pages by ~80%. Also collaborated with a developer and QA to build Boddle's first testing suite to improve code quality and testing coverage.
                </li>
              </ul>
              <a href="https://www.boddlelearning.com/">Company website</a> | <a href="https://lms.boddlelearning.com/login">My project</a>
            </div>
          </article>
          <hr class="uk-divider-icon">
          <article class="uk-article">
            <h2><a class="uk-text-emphasis" href="https://hprc.tamu.edu/" target="_blank">HPRC - Texas A&M University</a></h2>
            <p class="uk-article-meta">Junior Developer | Jan, 2022 - Dec, 2022 | College Station, TX</p>
            <div>
              <p>A Texas A&M University research department, focused on providing supercomputing resources, education, and support for other research departments.</p>
              <ul>
                <li><strong>Tech used: Ruby (Sinatra), Next.JS, Bootstrap, Bash, Python2, SQLite</strong></li>
                <li>Created a dashboard utilizing that allowed users to retrieve information on what services they were using, how much they were being billed, request additional computing resources, and provided regular email-based updates to alert users to where they were at with both their remaining resources and status of running jobs.</li>
                <li>Taught multiple courses in supercomputing for researchers to better understand how best to work with A&M's supercomputers</li>
                <li>Published a paper for the research department regarding the impact of STEM education at an early age. </li>
              </ul>
              <a href="https://hprc.tamu.edu/" target="_blank">Department website</a>
            </div>
          </article>
        </div>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href>Education:</a>
      <div class="uk-accordion-content">
        <div class="uk-width-expand uk-flex-column">
          <article class="uk-article">
            <h2><a class="uk-text-emphasis" href="https://www.boddlelearning.com/" target=_blank>Texas A & M University</a></h2>
            <p class="uk-article-meta">B.S. Industrial Engineering | Aug, 2018 - Dec, 2022 | College Station, Texas </p>
            <div class="uk-text-regular">
              <a href="https://www.tamu.edu/" target="_blank">University website</a>
            </div>
          </article>
          <hr class="uk-divider-icon">
          <article class="uk-article">
            <h2><a class="uk-text-emphasis" href="https://hprc.tamu.edu/" target="_blank">University of Arizona</a></h2>
            <p class="uk-article-meta">B.S. Applied Computing | Jan, 2022 - Dec, 2022 | Tucson, AZ</p>
            <div>
              <a href="https://www.arizona.edu/" target="_blank">University website</a>
            </div>
          </article>
        </div>
      </div>
    </li>
    <li>
      <a class="uk-heading-small uk-accordion-title" href>Publications, Certifications & Awards</a>
      <div class="uk-accordion-content">
        <div class="uk-width-expand uk-flex-column">
          <article class="uk-article">
            <h1>
              <a class="uk-text-emphasis" href="https://jocse.org/downloads/jocse-14-2-2.pdf" target=_blank>
                Cybersecurity and Data Science Curriculum for Secondary Student Computing Programs
              </a>
            </h1>
            <p class="uk-article-meta">Published Oct 2022</p>
            <div class="uk-text-regular">
              <p>
                I co-authored this research with the Texas A&M High-Performance Research Computing (HPRC) department aiming to enhance computing education and curriculum development at the K-12 level.
                I had the opportunity to present our findings at the SC '22 Conference on Supercomputing, and the paper was subsequently published in the Journal of Computational Science Education.
              </p>
              <a href="https://sc22.supercomputing.org/" target="_blank">The conference</a> | <a href="https://jocse.org/downloads/jocse-14-2-2.pdf" target="_blank">Check the paper out!</a>
            </div>
          </article>
        </div>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title">Projects:</a>
      <div class="uk-accordion-content">
        <%= render partial: 'projects' %>
      </div>
    </li>
  </ul>
</div>
