<div id="parallax_container" class="uk-container uk-container-large uk-flex-column uk-margin-large">
  <div uk-parallax="opacity: 1,0; x: 0, -1000; end: 50%;" class="uk-flex">
    <div class="uk-width-expand uk-flex-column">
      <div class="logo-container uk-width-6-6">
        <h1 class="page-logo roboto-bold uk-text-huge">
          <span class="uk-text-emphasis">Hi, I'm</span> <span class="uk-text-success">Nikhil</span>.
        </h1>
      </div>
      <div>
        <p class="fade-left-text uk-text-large roboto-thin">
          I'm a <span class="uk-text-success roboto-bold">Rails</span> and <span class="uk-text-success roboto-bold">React</span> engineer who loves to create awesome UIs and clean APIs. Let's make something
          together!
        </p>
      </div>
      <div class="uk-button-group uk-margin uk-animation-fade">
        <a class="uk-button uk-button-default" href="<%= asset_path 'nikhil_resume.pdf' %>" download="nikhil_resume.pdf">Resume</a>
        <a class="uk-button uk-button-default uk-flex uk-flex-center uk-flex-middle" href="https://www.linkedin.com/in/nikhil-dronamraju-154818144/" target="_blank">
          <span class="uk-icon-link navbar-home-svg" uk-icon="icon: linkedin"></span>
        </a>
        <a class="uk-button uk-button-default uk-flex uk-flex-center uk-flex-middle" href="https://github.com/nikhil-dronamraju" target="_blank">
          <span class="uk-icon-link navbar-home-svg" uk-icon="icon: github"></span>
        </a>
      </div>
    </div>
    <%= image_tag 'nikhil_portfolio.jpg', class: 'uk-border-rounded uk-width-1-4 uk-margin-auto-left uk-animation-fade' %>
  </div>
  <%= render partial: 'about_me' %>
</div>
