<div class="uk-container uk-container-large uk-flex-column uk-margin-large uk-animation-fade">
  <h1 class="uk-text-emphasis uk-text-bold uk-text-warning">Projects</h1>
  <div uk-slideshow="autoplay: true; autoplay-interval: 3000; pause-on-hover: true;" class="uk-margin-auto uk-width-1-2">
    <div class="uk-slideshow-items">
      <div class="uk-card uk-card-body uk-card-default uk-card-hover uk-border-rounded">
        <h2 class="uk-text-bold uk-text-success">ParlayMonkey</h2>
        <span class="uk-article-meta">March 2024 - Present</span>
        <p>
          ParlayMonkey is an online sports-betting platform that originally started off as an idea between me
          and a couple of friends. Since then, it's evolved into somewhat of a passion project we've all been contributing into here and there.
        </p>
        <span><i>Since the repository contains other people's work, I decided to keep it private. Sorry about that!</i></span>
        <br>
        <span>Tech used: TypeScript, Next.JS, Vercel, Supabase, Jest, Storybook, tRPC, Tailwind</span>
        <br>
        <a href="https://www.lockspread.com/">Check it out here!</a>
      </div>

      <div class="uk-card uk-card-body uk-card-primary uk-card-hover uk-border-rounded">
        <h2 class="uk-text-bold">Portfolio/Website</h2>
        <span class="uk-article-meta">Dec 2024 - Present</span>
        <p>
          This portfolio was honestly made in-part due to the fact that my previous one was heavily outdated, and because
          I wanted to try out the new Rails 8 version. Since it's my first attempt at Rails 8, I decided to put it on here.
        </p>
        <span>Tech used: Rails 8, UIkit</span>
        <br>
        <a href="https://github.com/nikhil-dronamraju/nikhil_rails_portfolio" target="_blank">Check the repo out!</a>
      </div>

      <div class="uk-card uk-card-body uk-card-secondary uk-card-hover uk-border-rounded">
        <h2 class="uk-text-bold uk-text-primary">Glucose Monitor</h2>
        <span class="uk-article-meta">Aug 2024 - Present</span>
        <p>
          A mobile app, made for Android devices that allows users to input their glucose-related data and alerts them to
          if their levels are stable or not.
        </p>
        <span>Tech used: Kotlin, Room, SQLite</span>
        <br>
        <a href="https://github.com/nikhil-dronamraju/glucose" target="_blank">Check the repo out!</a>
      </div>
    </div>
    <i>Click to pause</i>
  </div>

  <!-- Prepare a container for your calendar. -->
  <div class="uk-width-1-1 uk-flex uk-margin uk-animate-fade">
    <img src="http://ghchart.rshah.org/nikhil-dronamraju" alt="2016rshah's Github chart" class="uk-margin-auto" />
  </div>
</div>