<div class="uk-container uk-container-large uk-flex uk-margin-large">
  <div class="uk-width-expand uk-flex-column">
    <article class="uk-article">
      <h1 class="uk-article-title"><a class="uk-link-reset" href="">Boddle Learning</a></h1>
      <span class="uk-article-meta">Ruby on Rails Engineer | Jan, 2023 - Current</span>
      <p class="uk-text-lead">
        Boddle Learning is an Education Tech company based out of Tulsa, Oklahoma. During my time here, I worked heavily
        on their back-end, contributing extensively to a project of theirs called the LMS. Some of my highlights include:
        <ul>
          <li>Created a Live Notifications System</li>
          <li>Created their LiveOps configuration Tooling</li>
          <li>Created the Content Library</li>
          <li>A whole bunch of other stuff I'll get into once I've finalized the details</li>
        </ul>
      </p>
      <span>Tech used: Rails, Bootstrap, jQuery, Docker, Redis, RabbitMQ, WebGL, Stripe, ciinabox, OpenAI, Postgres</span>
    </article>
    <article class="uk-article">
      <h1 class="uk-article-title"><a class="uk-link-reset" href="">HPRC - Texas A&M University</a></h1>
      <span class="uk-article-meta">Junior Dev | Jan, 2022 - Dec, 2022</span>
      <p class="uk-text-lead">
        HPRC (High Performance Research Computing) is Texas A&M university's supercomputing department. During my time here,
        I got to work with the supercomputing systems, and designed dashboards to monitor researchers' cluster utilization.
        I also got to debug some tickets!
      <ul>
        <li>Created dashboards</li>
        <li>Did ticketing stuff</li>
        <li>Did some more stuff</li>
        <li>A whole bunch of other stuff I'll get into once I've finalized the details</li>
      </ul>
      </p>
      <span>Tech used: Linux, Bash, Python, Sinatra, jQuery, SQLite, SLURM</span>
    </article>
  </div>
</div>
