<div class="uk-container uk-container-large uk-flex uk-margin-large">
  <div class="uk-width-expand uk-flex-column">
    <article class="uk-article">
      <h1><a uk-parallax="color: black, white;" href="https://www.boddlelearning.com/" target=_blank>Boddle Learning</a></h1>
      <span class="uk-article-meta">Ruby on Rails Engineer | Jan, 2023 - Current | Tulsa, OK </span>
      <p class="uk-text-regular">
        Boddle Learning is an education tech company based out of Oklahoma.
        They provide an educational game that's meant to make learning math/english more enjoyable for kids, as well as a ton of educational resources for teachers/parents through their LMS project - A portal for educators to view all of their students' data and tweak what each student is learning in-game to
        better suit them. I worked on both the LMS and game while here, and some of my contributions include:
        <ul>
          <li>
            Created a custom text editor that allowed teachers to type in questions for students to answer (Both plain text and LaTeX format).
            These questions were then injected into the game for the teachers' specific students, so that they could play the game while answering
            their teachers' questions - As an in-game 'Assignment' with custom-made questions.
          </li>
          <li>
            Created a configuration tool that allowed the company's game designers to upload Excel spreadsheets containing game config values.
            This was made so that the company could apply hotfixes without needing devs when it came to balance issues, or any game-related issue that was more so
            on the design side as opposed to a bug.
          </li>
          <li>
            Created a payment flow on top of the game so that the business could monetize more effectively.
          </li>
          <li>Helped create the company's first unit testing suite.</li>
          <li>Monitored and optimized the project by using New Relic/Bullet</li>
        </ul>
        <a href="https://www.boddlelearning.com/">Company website</a> | <a href="https://lms.boddlelearning.com/login">My project</a>
      </p>
      <span>Tech used: Rails, Bootstrap, jQuery, Docker, Redis, RabbitMQ, WebGL, Stripe, ciinabox, OpenAI, Postgres, RSpec, New Relic</span>
    </article>
    <hr class="uk-divider-icon">
    <article class="uk-article">
      <h1><a uk-parallax="color: black, white;" href="https://hprc.tamu.edu/" target="_blank">HPRC - Texas A&M University</a></h1>
      <span class="uk-article-meta">Junior Dev | Jan, 2022 - Dec, 2022 | College Station, TX</span>
      <p>
        HPRC (High Performance Research Computing) is Texas A&M university's supercomputing department. During my time here,
        I assisted the department by:
        <ul>
          <li>Teaching courses on supercomputing for new researchers</li>
          <li>Created a dashboard for researchers to monitor their cluster usage/spending</li>
          <li>Co-published a paper on pre K-12 STEM education</li>
        </ul>
        <a href="https://hprc.tamu.edu/" target="_blank">Department website</a>
      </p>
      <span>Tech used: Linux, Bash, Python, Sinatra, jQuery, SQLite, SLURM, Open OnDemand</span>
    </article>
  </div>
</div>
